---
import Layout from "../layouts/Layout.astro";

import Greet from "../components/Greet.astro";
---

<Layout>
	<main>
		<Greet name="Scott" />
	</main>
</Layout>

<style>
	main {
		height: 100vh;

		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
